<!-- footer start -->
<footer class="foot-contain">
 <ul class="footer-list-start">
   <h4 class="gelp-rights fa fa-copyright">Gelp, Maintained by:</h4>
   <li class="footer-list"><a href="https://github.com/okabe-san" class="fa fa-github footer-a">Akiko</a></li>
   <li class="footer-list"><a href="https://github.com/Isaacjcollier" class="fa fa-github footer-a">Isaac</a></li>
   <li class="footer-list"><a href="https://github.com/Ho0dLuM" class="fa fa-github footer-a">Jordon</a></li>
   <li class="footer-list"><a href="https://github.com/philbenz" class="fa fa-github footer-a">Phil</a></li>
 </ul>
</footer>
<!-- footer end -->
