{% extends '_base.html' %}

{% block content %}

{% include './_navbar.html' %}

<div class="row">
  <div class="col-3 restaurant-images">
    <h1>Image Here</h1>
  </div>
  <div class="col-3 restaurant-images">
    <h1>Image Here</h1>
  </div>
  <div class="col-3 restaurant-images">
    <h1>Image Here</h1>
  </div>
  <div class="col-3 restaurant-images">
    <h1>Image Here</h1>
  </div>
  <div class="col-3 restaurant-images">
    <h1>Image Here</h1>
  </div>
  <div class="col-3 restaurant-images">
    <h1>Image Here</h1>
  </div>
</div>

{% include '_footer.html'%}

{% endblock %}
