<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>register page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="restaurant_page.css">
  </head>
  <body>
    <div class="row">

      <div class="container" >

        <div class="col-md-6 box">
          <img src="../images/fine-dining.jpeg">
          <img src="../images/london-map.png" style="height:200px; background-color: #235;">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
          </p>
          <div class="rating">
          <h3>some rating</h3>
          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
        </div>

        <div class="col-md-6 box">
          <img src="../images/bbq.jpg">
          <img src="../images/london-map.png" style="height:200px; background-color: #235;">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
          </p>
          <div class="rating">
          <h3>some rating</h3>
          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>

        </div>
        <div class="col-md-6 box">
          <img src="../images/mexican.jpeg">
          <img src="../images/london-map.png" class="location" style="height:200px; background-color: #235;">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
          </p>
          <div class="rating">
          <h3>some rating</h3>
          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>

        </div>
        <div class="col-md-6 box">
          <img src="../images/italian.jpg">
          <img src="../images/london-map.png" style="height:200px; background-color: #235;">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
          </p>
          <div class="rating">
          <h3>some rating</h3>
          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
        </div>

        <div class="col-md-6 box">
          <img src="../images/mongolian.jpeg">
          <img src="../images/london-map.png" style="height:200px; background-color: #235;">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
          </p>
          <div class="rating">
          <h3>some rating</h3>
          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
