{% extends '_base.html' %}
{% block content %}


<div class="star-rating_wrap">
  <label class="star fa fa-star fa-lg" for="star_1" data-star="1"></label>
  <input class="rating" id="star_1" type="radio" name="rating">
  <label class="star fa fa-star fa-lg" for="star_2" data-star="2"></label>
  <input class="rating" id="star_2" type="radio" name="rating">
  <label class="star fa fa-star fa-lg" for="star_3" data-star="3"></label>
  <input class="rating" id="star_3" type="radio" name="rating">
  <label class="star fa fa-star fa-lg" for="star_4" data-star="4"></label>
  <input class="rating" id="star_4" type="radio" name="rating">
  <label class="star fa fa-star fa-lg" for="star_5" data-star="5"></label>
  <input class="rating" id="star_5" type="radio" name="rating">
</div>


{% endblock %}
