{% extends '_base.html' %}
{% block content %}
{% include './_navbar.html' %}
<div class="container">
  <h1 class="special-font">REVIEW RESTAURANT</h1>
  <hr>
  <form name="review-form" method="POST" action="/api/v1/users">
    <div class="form-group">
      <p class="special-font">User ID:</p>
      <input type="text" class="form-control" id="input_user_id" name="user_id" value="{{user_id}}">
    </div>
    <div class="form-group">
      <p class="special-font">Restaurant ID:</p>
      <input type="text" class="form-control" id="input_restaurant_id" name="user_id" value="{{restaurant_id}}">
    </div>
    <div class="form-group">
      <p class="special-font">Review:</p>
      <textarea class="form-control" rows="5" id="input_user_review" name="user_review"></textarea>
    </div>

    <!-- star rating -->
    <div class="rating_wrap">
      <label class="star fa fa-star-o fa-lg" for="star_1" data-star="1"></label>
      <label class="star fa fa-star-o fa-lg" for="star_2" data-star="2"></label>
      <label class="star fa fa-star-o fa-lg" for="star_3" data-star="3"></label>
      <label class="star fa fa-star-o fa-lg" for="star_4" data-star="4"></label>
      <label class="star fa fa-star-o fa-lg" for="star_5" data-star="5"></label>
    </div>

    <a href="/api/v1/restaurants" type="button" class="btn btn-warning form-button">Cancel</a>
    <button type="submit" class="btn btn-success form-button">Submit</button>
  </form>
  <br><br>
</div>

{% include '_footer.html'%}
{% endblock %}
