{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

{% include './_navbar.html' %}

<div class="row">
{% for restaurant in restaurants %}
  <div class="col-4 box">
    <img class="col-1 restaurant-image" src="/images/london-map.png">
      <img class="restaurant-image" src="{{restaurant.picture_url}}">
        <p class="description">{{restaurant.name}}</p>
        <p class="description">{{restaurant.street}}</p>
        <p class="description">{{restaurant.city}}</p>
        <p class="description">{{restaurant.state}}</p>
        <p class="description">{{restaurant.zip}}</p>
        <p class="description">{{restaurant.description}}</p>
        <div class="rating">
        <h3>some rating</h3>
      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
  </div>
{% endfor %}
</div>

{% include '_footer.html'%}

{% endblock %}
