{% extends '_base.html' %}

{% block title %}{% endblock %}

{% block content %}

{% include './_navbar.html' %}

  <div class="container">
    {% for restaurant in restaurantz %}
    <div class="col-md-6 single-box-restaurant">
      <h2 class="special-font">{{restaurant.name}}</h2>
      <img src="{{restaurant.picture_url}}" alt="bbq restaurant photo" style="height:350px; width:470px;" />
      <h4>
        {{restaurant.description}}
      </h4>
      <img class="restaurant-map-image" src="/images/london-map.png" style="height:200px; background-color: #235;">
      <div class="company-address">
        <h4 class="special-font">Address:</h4>
        <h5 class="special-font">street: {{restaurant.street}}</h5>
        <h5 class="special-font">city: {{restaurant.city}}</h5>
        <h5 class="special-font">state: {{restaurant.state}}</h5>
        <h5 class="special-font">zip: {{restaurant.zip}}</h5>
      </div>
      <h3 class="special-font">Cuisine Type:{{restaurant.cuisine}}</h3>
      <div class="rating rating-position">
      <h3>Consumer rating</h3>
      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div>
      {% endfor %}
    </div>

      <!-- employees -->
      <!-- <table>
        <thead>
          <tr>
            <th>Employee Name</th>
            <th>Employee Role</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
            <tr>
              <td>{{employee.name}}</td>
              <td>{{employee.role}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table> -->

    <!-- reviews go here -->
    <div class="col-md-6">
      <div class="single-box-review">

  <div class="container">
    <div class="col-md-6 box">
      <h2 class="special-font">Bubba's BBQ and Grill</h2>
      <img src="/images/bbq.jpg" alt="bbq restaurant photo" style="height:350px; width:470px;" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <img class="restaurant-image" src="/images/london-map.png" style="height:200px; background-color: #235;">
      <div class="rating">
      <h3>some rating</h3>
      <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h3>User Name :review:</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="single-box-review">
      <div>
        <h3>User Name :review:</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="single-box-review">
      <div>
        <h3>User Name :review:</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="single-box-review">
      <div>
        <h3>User Name :review:</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="single-box-review">
      <div>
        <h3>User Name :review:</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="single-box-review">
      <div>
        <h3>User Name :review:</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="single-box-review">
        <h3>User Name :review:</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
    </div>
  </div>

{% include '_footer.html'%}

{% endblock %}
